body{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Yeseva One', cursive;
}
img{
    width: 100%;
}
h1{
    font-family: 'Yeseva One';
    line-height: 80px;
    font-size: 60px;
    font-weight: 400;
    color: #333333;
    margin: 0px;
}
h2{
    font-family: 'Poppins';
    line-height: 70px;
    font-size: 48px;
    font-weight: 700;
    color: #333333;
    margin: 0px;
}
h3{
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 700;
    color: #333333;
    margin: 0px;
}
h4{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    margin: 0px;
}
h6{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    color: #333333;
    margin: 0px;
}
p{
    font-family: 'Poppins';
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #3E3E3E;
}
span{
    color: #6fb0ff;
}
.btn {
    font-family: 'Poppins';
    background-color: #015ECC;
    border: none;
    color: white;
    padding: 6px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}
.boxed-width{
    margin: 0 auto;
    width: 1200px;
}
/* =============================
------ Banner Start Here -------
============================= */
.banner {
    display: flex;
    align-items: center;
}
.banner-title , .banner-image{
    width: 50%;
}
.banner-title h1 {
    color: #333333;
    border-left: 5px solid #FF5959;
    padding-left: 20px;
}
.banner-title p{
    padding: 10px 0px;
    font-size: 18px;
}
.banner-image img {
    width: 80%;
    float: right;
}
/* =============================
------ Grid Start Here -------
============================= */
.grid{
    margin: 100px 0px;
}
.grid h2 {
    text-align: center;
    padding: 30px 0px;
}
.grid span{
    font-family: 'Poppins';
}
.grid-items{
    display: flex;
}
.grid-items img{
    width: 40%;
}
.item-1 {
    background-color: #4F9DA615;
    width: 30%;
    margin-right: 20px;
    padding: 20px;
    border-radius: 20px;
}
 .item-2 {
    background-color: #FF595915;
    width: 30%;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
}
 .item-3 {
    background-color: #FFF4D6; 
    width: 30%;
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
}
/* =============================
------ Develop Start Here ------
============================= */
.develop{
    align-items: center;
    display: flex;
    margin: 100px 0px;
}
.develop-image{
    width: 35%;
}
.develop-title{
    width: 65%;
    margin-left: 100px;
}
/* =============================
------ Community Start Here ----
============================= */
.community{
    align-items: center;
    display: flex;
    margin: 100px 0px;
}
.community-title{
    width: 65%;
    margin-right: 100px;
}
.community-image{
    width: 35%;
}
/* =============================
----- Form Start Here -----
============================= */
.form-section{
    margin: 100px 0px;
}
.form-section h2{
    text-align: center;
    padding-bottom: 20px;
}
.form{
    align-items: center;
    display: flex;
}
.form-field{
    width: 400px;
    margin-left: 100px;
}
.form-image{
    width: 50%;
    text-align: center;
}
.form-image img{
    width: 300px;
}
input[type=text] , input[type=email] , input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #015ECC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #033b80;
}
/* =============================
----- Footer Start Here -----
============================= */
.footer{
    margin-top: 100px;
    background-color: #0B0D17;
    width: 100%;
    padding: 20px 0px;
}
.footer h3{
    color: #ffffff;
    font-family: 'Lobster';
    text-align: center;
    padding-bottom: 0px;
}
.footer p{
    color: #cccccc;
    margin: 0px;
    text-align: center;
    font-size: 13px;
}