body{
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    margin-bottom: 300px;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Yeseva One', cursive;
}
h1{
    font-family: 'Yeseva One';
    line-height: 80px;
    font-size: 60px;
    font-weight: 400;
}
h2{
    font-family: 'Poppins';
    line-height: 70px;
    font-size: 48px;
    font-weight: 700;
}
h3{
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 700;
}
h4{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
}
h6{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
}
p{
    font-family: 'Poppins';
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
}
span{
    color: #FFAD5A;
}
.btn {
    font-family: 'Poppins';
    background-color: #FF5959;
    border: none;
    color: white;
    padding: 6px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
}
/* =============================
------ Banner Start Here -------
============================= */
.banner {
    display: flex;
    align-items: center;
}
.banner-title , .banner-image{
    width: 50%;
}
.banner-title h1 {
    color: #333333;
    border-left: 5px solid #FF5959;
    padding-left: 20px;
}
.banner-title p{
    padding: 15px 0px;
    font-size: 18px;
}
.banner-image img {
    width: 80%;
    float: right;
}
/* =============================
------ Banner Start Here -------
============================= */
.grid{
    margin: 50px 0px;
}
.grid h2 {
    text-align: center;
    padding: 30px 0px;
}
.grid span{
    font-family: 'Poppins';
}
.grid-items{
    display: flex;
}
.grid-items img{
    width: 40%;
}
.item-1 {
    background-color: #4F9DA610;
    width: 30%;
    margin-right: 20px;
    padding: 20px;
    border-radius: 20px;
}
 .item-2 {
    background-color: #FF595910;
    width: 30%;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
}
 .item-3 {
    background-color: #FFF4D6; 
    width: 30%;
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
}
